<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<style type="text/css">
	html, body { margin:0px; padding:0px }

	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #101010;
	}
</style>

<canvas id="canvas"></canvas>

<script type="text/javascript">
	// JS utility functions
	function isdef(x) {
		return typeof(x) != 'undefined';
	}
	function toHex(x) {
		x = Math.round(x);
		return (x>15)?x.toString(16):'0'+x.toString(16);
	}
	function fromHex(x) {
		x = Number("0x"+x)
		return x;
	}
</script>

<!-- Math -->
<script type="text/javascript">
	
	function ad(ang) {
		return ang * 180 / Math.PI;
	}
	function pt(mag, ang) {
		y = Math.sin(ang) * mag;
		x = Math.cos(ang) * mag;
		return [x,y];
	}
	function pt_add(p1, p2) {
		return [p1[0]+p2[0], p1[1]+p2[1]];
	}
	function pt_sub(p1, p2) {
		return [p1[0]-p2[0], p1[1]-p2[1]];
	}
	function pt_mul(p, m) {
		return [p[0]*m, p[1]*m];
	}
	function get_mag(p) {
		return (p[0]**2+p[1]**2)**.5;
	}
	function get_ang(p) {
		var a = Math.atan2(p[1], p[0]);
		if (a < 0) { a += 2 * Math.PI; }
		return a;
	}
	function pt_mag(p, m) {
		ang = get_ang(p);
		return pt(m, ang);
	}
	function pt_addAng(p, a) {
		mag = get_mag(p);
		ang = get_ang(p);
		ang += a;
		return pt(mag, normAng(ang));
	}
	function angDist(a1,a2) {
		let ad = Math.abs(a1-a2);
		return (ad>Math.PI)?Math.PI*2-ad:ad;
	}
	function angDir(a1, a2) {
		let ad = a1-a2;
		return (Math.abs(ad)>Math.PI?Math.sign(ad)*-1:Math.sign(ad));
	}
	function ang_turnTowards(a1, a2, amt) { // returns angle, met, direction
		if (angDist(a1,a2)<=amt) { return [a2,true, 0]; }
		let at = a2 - a1;
		let dir = 0; // Direction, if the angle is not met.
		if (at > Math.PI) {
			at -= 2 * Math.PI;
			dir = -1;
		} else if (at < -Math.PI) {
			at += 2 * Math.PI;
			dir = 1;
		}
		dir = Math.sign(at);
		var ang = a1 + dir*amt;
		if (ang < 0) {
			ang += 2 * Math.PI;
		} else if (ang > 2 * Math.PI) {
			ang -= 2 * Math.PI;
		}
		return [ang, false,dir];
	}
	function normAng(a) {
		return (a>=0)?(a%(2*Math.PI)):(a+2*Math.PI);
	}
	// Hittests
	function quadratic(a, b, c) {
		let t2 = (b**2-4*a*c);
		if (t2 < 0) return false;
		let t3 = 2*a;
		let t1 = -b/t3;
		t2 = (t2**.5)/t3;
		return [t1+t2, t1-t2];
	}
	function lineCircle(cc, cr, lo, la) {
		// Goal: Find the nearest point on 'l' to 'lo' that is at distance 'cr' from 'cc'.
		// Get slope of line
		lo = pt_sub(lo, cc); // Treat cc as the origin, to simplify calculations
		let lm = Math.tan(la);
		let lb = lo[1]-lo[0]*lm;
		let xs = quadratic((lm**2+1), (2*lm*lb), (lb**2-cr**2));
		if (!xs) return false;
		// For now, just get the X that is closest to lo
		let xi = (Math.abs(xs[0]-lo[0])<Math.abs(xs[1]-lo[0])) ? 0 : 1;
		let x = xs[xi];
		let y = lm*x+lb;
		let poi = pt_add([x,y], cc);
		lo = pt_add(lo, cc);
		// If the point of intersection is in the opposite direction, try the other.
		if (angDist(la, get_ang([poi[0]-lo[0], poi[1]-lo[1]])) < .1) return poi;
		//
		x = xs[(xi+1)%2];
		y = lm*x+lb;
		poi = pt_add([x,y], cc)
		if (angDist(la, get_ang([poi[0]-lo[0], poi[1]-lo[1]])) < .1) return poi;
		return false;
	}
	function poi(l1o, l1a, l2o, l2a) {
		let x1 = l1o[0];
		let x2 = l2o[0];
		let y1 = l1o[1];
		let y2 = l2o[1];
		let m1 = Math.tan(l1a);
		let m2 = Math.tan(l2a);
		//
		let x = (m2*x2-m1*x1+y1-y2)/(m2-m1);
		let y = m1*(x-x1)+y1;
		return [x,y];
	}
	function lineCircle_old(cc, cr, lo, la) {
		// Get angle from cc to lo
		let ang = get_ang(pt_sub(cc, lo));
		let ad = angDist(ang, la) * angDir(ang, la);
		if (ad > Math.PI/2) { return false; }
		let cla = normAng(ang+Math.PI/2+ad);
		// Return point of intersection
		let ix = poi(cc, cla, lo, la);
		let dist = get_mag(pt_sub(cc, ix));
		return (dist < cr) ? ix : false;
	}
</script>

<script type="text/javascript">
	// Classes
	/*
		obj
	*/
	class Obj {
		constructor() {
			// Initialize core variables
			this.location = [0,0];
			this.tilt=0;
		}
		getRadius() {
			var r = 0;
			this.shape.forEach(function(p){
				r = Math.max(r, p[0]**2 + p[1]**2);
			});
			this.radius = r**.5;
		}
		canRender(c_loc, hsw, hsh) {
			return (get_mag(pt_sub(pt_add(c_loc, [hsw, hsh]), this.location)) - this.radius < (hsw+hsh));
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh)) return;
			var c = pt_sub(this.location, c_loc);
			var s = this.shape;
			ctx.strokeStyle = ctx.fillStyle = this.color;
			ctx.beginPath();
			var a = this.angle;
			var start = true;
			var t = this;
			let tiltAdj = 1;
			if (t.tilt != 0) {
				tiltAdj=Math.cos(t.tilt);
			}
			s.forEach(function(p) {
				if (t.tilt != 0) { p = [p[0], p[1]*tiltAdj] }
				p = pt_addAng(p, a);
				p = pt_add(p, c);
				if (start) {
					ctx.moveTo(...p);
					start = false;
				} else {
					ctx.lineTo(...p);
				}
			});
			if (this.shape.length>2) {
				ctx.fillStyle = this.color;
				//ctx.fill();
				//ctx.strokeStyle = this.color + '77';
			}
			ctx.stroke();
			ctx.closePath();
			ctx.fill();
		}
	}
	// Visual effects
	class LineEffect extends Obj {
		constructor(s, e, w, c) {
			super();
			this.location = [(s[0]+e[0])/2, (s[1]+e[1])/2];
			this.start = pt_sub(s, this.location);
			this.end = pt_sub(e, this.location);
			this.radius = get_mag(this.start);
			this.life=1;
			this.color = c;
			this.width = w;
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh)) return;
			var c = pt_sub(this.location, c_loc);
			let temp = ctx.lineWidth;
			ctx.lineWidth = this.width;
			//
			let start = pt_add(c, this.start);
			let end = pt_add(c, this.end);
			//
			ctx.strokeStyle = this.color;//this.color;
			let t = this.life/this.maxLife;
			ctx.shadowBlur = 20;
			ctx.shadowColor = this.color;
			ctx.beginPath();
			ctx.moveTo(...start);
			ctx.lineTo(...end);
			ctx.stroke();
			ctx.shadowBlur = 0;
			ctx.lineWidth = temp;
		}
		update(objs) {
			if (--this.life < 0) {
				objs.fx.splice(objs.fx.indexOf(this),1);
			}
		}
	}
	class CircleEffect {
		constructor(loc, velocity, radius, deltaRad, color,life,altitude=100) {
			/*
				Exhaust and explosions.
				Wrecks will be handled by a class that extends 'Obj'.
			*/
			this.location = loc;
			this.velocity = velocity;
			this.radius = radius;
			this.deltaRad = deltaRad;
			this.color = color;
			this.life = this.maxLife = life;
			this.altitude = altitude;
		}
		canRender(c_loc, hsw, hsh) {
			return (get_mag(pt_sub(pt_add(c_loc, [hsw, hsh]), this.location)) - this.radius < (hsw+hsh));
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh)) return;
			var c = pt_sub(this.location, c_loc);
			ctx.strokeStyle = this.color + toHex(Math.round(100*this.life/this.maxLife));
			let t = this.life/this.maxLife;
			ctx.beginPath();
			ctx.arc(c[0],c[1],this.radius*(this.altitude/100),0,2*Math.PI);
			ctx.stroke();
		}
		update(objs) {
			this.radius+=this.deltaRad;
			this.location = pt_add(this.location, this.velocity);
			if (--this.life < 0) {
				objs.fx.splice(objs.fx.indexOf(this),1);
			}
		}
	}
	class TrailEffect {
		constructor(loc, velocity, radius, deltaRad, color,life,altitude=100) {
			/*
				Exhaust and explosions.
				Wrecks will be handled by a class that extends 'Obj'.
			*/
			this.location = loc;
			this.velocity = velocity;
			this.radius = radius;
			this.deltaRad = deltaRad;
			this.color = color;
			this.life = this.maxLife = life;
			this.altitude = altitude;
		}
		canRender(c_loc, hsw, hsh) {
			return (get_mag(pt_sub(pt_add(c_loc, [hsw, hsh]), this.location)) - this.radius < (hsw+hsh));
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh)) return;
			var c = pt_sub(this.location, c_loc);
			let t = this.life/this.maxLife;
			ctx.shadowColor = ctx.fillStyle = '#' + toHex(Math.round(100+155*t)) + toHex(Math.round(200*t)) + toHex(Math.round(200+55*t));//this.color + toHex(Math.round(100*this.life/this.maxLife));
			ctx.shadowBlur = 10;
			ctx.beginPath();
			ctx.arc(c[0],c[1],this.radius*(this.altitude/100),0,2*Math.PI);
			ctx.fill();
			ctx.shadowBlur = 0;
		}
		update(l) {
			this.radius+=this.deltaRad;
			this.location = pt_add(this.location, this.velocity);
			if (--this.life < 0) {
				l.splice(l.indexOf(this),1);
			}
		}
	}
	class FlashEffect {
		constructor(loc, radius) {
			this.location = loc;
			this.radius = radius;
			this.life = this.maxLife = 5;
		}
		canRender(c_loc, hsw, hsh) {
			return (get_mag(pt_sub(pt_add(c_loc, [hsw, hsh]), this.location)) - this.radius < (hsw+hsh));
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh)) return;
			var c = pt_sub(this.location, c_loc);
			ctx.shadowColor = ctx.fillStyle = '#FFFFFF'+toHex(255*this.life/this.maxLife);
			ctx.shadowBlur = this.radius/10;
			ctx.beginPath();
			ctx.arc(c[0],c[1],this.radius,0,2*Math.PI);
			ctx.fill();
			ctx.shadowBlur = 0;
		}
		update(objs) {
			if (--this.life < 0) {
				objs.fx.splice(objs.fx.indexOf(this),1);
			}
		}
	}
	//
	smokeColorCache = {};
	class SmokeEffect extends CircleEffect {
		constructor(loc, velocity, radius, life) {
			/*
				Exhaust and explosions.
				Wrecks will be handled by a class that extends 'Obj'.
			*/
			life = Math.round(life);
			super(loc, velocity, radius, radius*2/life, '#FFFFFF',life)
			this.blast = 0;
			this.initialRad = radius;
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh)) return;
			let c = pt_sub(this.location, c_loc);
			let r = this.radius*1.25;
			if (r < 0) return;
			ctx.fillStyle='#888888';
			ctx.beginPath();
			ctx.arc(c[0],c[1],r,0,2*Math.PI);
			ctx.fill();
		}
	}
	var explosionCache = {};
	const CRFACTOR = 5;
	const explosionCount = 3;
	function cacheExplosion(radius, life) {
		radius = Math.ceil(radius);
		let name = radius + '_' + life;
		if (!isdef(explosionCache[name])) {
			explosionCache[name] = []
			for (let i = 0; i < explosionCount; i++) {
				console.log("Caching " + name);
				let an = [];
				let cacheObjs = {'fx':[]};
				let crCenter = radius*CRFACTOR;
				// Add the flares
				let count = 1 + radius**.6*Math.random();
				for (let i = 0; i < count; i++) {
					let ang = 2*Math.PI*Math.random();
					let vel = (radius/life)*(2.+Math.random());
					let loc = pt_add([crCenter,crCenter], pt(radius*Math.random(), ang));
					let velocity = pt(vel, ang);
					cacheObjs.fx.push(new FlareEffect(loc, velocity, Math.max(7, radius/5), life/2, smokeTimer=1));
				}
				//
				for (let i = 0; i < life; i++) {
					let osc = document.createElement('canvas');
					let ctx = osc.getContext('2d');
					osc.width = osc.height = crCenter*2;
					// Draw flares
					cacheObjs.fx.forEach(x=>{
						x.render(ctx,[0,0],crCenter,crCenter);
						x.update(cacheObjs);
					});
					//
					// Draw the explosion
					let t = (1-i/life);
					let gradient, r;
					r = radius*t;
					ctx.fillStyle = '#CCAA00';
					ctx.beginPath();
					ctx.arc(crCenter,crCenter,r+1,0,2*Math.PI);
					ctx.shadowBlur = 50;
					ctx.shadowColor = '#FFFF99';
					ctx.fill();
					ctx.shadowBlur = 0;
					//
					an.push(osc);
				}
				explosionCache[name].push(an);
			}
		} // Notes: maincanvascontext.drawImage(offscreencanvas, x, y)
		return explosionCache[name][Math.floor(Math.random()*explosionCount)];
	}
	class FlareEffect extends CircleEffect {
		constructor(loc, velocity, radius, life, smokeTimer=5) {
			super(loc, velocity, radius, -radius/life, '#FFFFFF',life);
			this.smoke = this.smokeTimer = smokeTimer;
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh)) return;
			let c = pt_sub(this.location, c_loc);
			let t = Math.max(this.life/this.maxLife, 0);
			let base = 40;
			let color = '#' + toHex(base + Math.max(400*t - 200, 0)) + toHex(base + Math.max(600*t - 400, 0)) + toHex(base)
			ctx.fillStyle = color + toHex(Math.round(100*this.life/this.maxLife));//gradient;//
			ctx.beginPath();
			ctx.arc(c[0],c[1],this.radius+1,0,2*Math.PI);
			ctx.fill();
		}
		update(objs) {
			super.update(objs);
			if (this.smokeTimer-- == 0) {
				objs.fx.push(new SmokeEffect(this.location, pt(.3,Math.random()*(Math.PI*2)), this.radius/(1+1*Math.random()), 70));
				this.smokeTimer=this.smoke;
			}
		}
	}
	class ExplosionEffect extends CircleEffect {
		constructor(loc, velocity, radius, deltaRad, life) {
			life = Math.ceil(life/10)*10;
			radius = Math.ceil(radius/10)*10;
			super(loc, velocity, radius, deltaRad, '#FFFFFF',life)
			this.blast = 0;
			this.initialRad = radius;
			this.animation = cacheExplosion(radius, life);
			this.baseRadius = radius;
		}
		render(ctx, c_loc, hsw, hsh) {
			if (!this.canRender(c_loc, hsw, hsh) || this.life==0) return;
			let c = pt_sub(this.location, c_loc);
			ctx.drawImage(this.animation[(this.maxLife-this.life)], c[0]-this.baseRadius*CRFACTOR, c[1]-this.baseRadius*CRFACTOR);
		}

		update(objs) {
			super.update(objs);
			this.blast += 1;
		}
	}
	// Visual effects involving polygons
	class WreckEffect extends Obj {
		constructor(shape, loc, ang, vel, tilt, color, life, maxTiltVel, smoke=false, explodes=false) {
			super();
			this.shape=shape;
			this.location = loc;
			this.angle = ang;
			this.velocity = vel;
			this.angVel = (.025-.05*Math.random());
			this.tilt = tilt;
			this.tiltVel = (maxTiltVel*Math.random());
			this.baseColor = color;
			this.color = this.baseColor+'90';
			this.life = this.maxLife = life;
			this.smokeTimer = this.smoke = smoke*3;
			this.explodes=explodes;
			this.processShape();
			this.getRadius();
			if (this.shape.length == 2) {
				this.radius = Math.min(this.radius, 20);
			}
		}

		processShape() {
			if (this.shape.length != 2) {return;}
			let base = [0,0];
			let s0 = this.shape[0];
			let s1 = this.shape[1];
			if (Math.sign(s0[0])==Math.sign(s1[0])) {
				base[0] = Math.sign(s0[0]) * Math.min(Math.abs(s0[0]), Math.abs(s1[0]))
			}
			if (Math.sign(s0[1])==Math.sign(s1[1])) {
				base[1] = Math.sign(s0[1]) * Math.min(Math.abs(s0[1]), Math.abs(s1[1]))
			}
			// Future builds could store this tilt as a second value, with a second tilt velocity.
			this.shape = [pt_sub(s0, base), pt_sub(s1, base)];
			// Adjust the base coordinates based on the tilt
			base[1] = base[1] * Math.cos(this.tilt);
			this.location = pt_add(pt_addAng(base, this.angle), this.location);
			this.velocity = pt_add(this.velocity, pt_addAng(pt_mul(base, .01), this.angle));
		}

		render(ctx, c_loc, hsw, hsh) {
			super.render(ctx,c_loc, hsw, hsh);
		}
		update(objs) {
			this.life--;
			//
			this.tilt=normAng(this.tilt+this.tiltVel);
			//
			if (this.life<0) {
				objs.fx.splice(objs.fx.indexOf(this),1);
				let r = (.5+Math.random()*1)*this.radius;
				if (this.radius < 30 && this.radius > 0) {
					objs.fx.push(new ExplosionEffect(this.location, [0,0], this.radius, this.radius/50, 100, this.altitude));
				} else {
					for (let i = 0; i < this.radius/10; i++) {
						let loc = pt_add(pt_addAng(this.shape[Math.floor(Math.random()*this.shape.length)], this.angle), this.location);
						objs.fx.push(new ExplosionEffect(loc, [0,0], 10+Math.random()*10, (10+Math.random()*10)/50, 75+Math.random()*50, this.altitude));
					}
				}
				if (this.explodes==true) {
					let prev = this.shape[this.shape.length-1];
					// Add velocity
					let expMag = get_mag(this.velocity)/3 + 2*Math.random();
					//
					for (let i=0; i<this.shape.length;i++) {
						let cur = this.shape[i];
						let expAng = get_ang(cur);
						objs.fx.push(new WreckEffect([prev,cur], this.location, this.angle, pt_add(pt(expMag,expAng),this.velocity), this.tilt, this.baseColor, Math.random()*200,this.tiltVel*2, true));
						prev=cur;
					}
				}
			}
			this.location = pt_add(this.location, this.velocity);
			this.angle += this.angVel;
			this.angVel=this.angVel<0?this.angVel+2*Math.PI:this.angVel%(2*Math.PI);
			if (this.smoke != false) {
				if (this.smokeTimer-- == 0) {
					objs.fx.push(new SmokeEffect(this.location, pt(.3,Math.random()*(Math.PI*2)), Math.min(this.radius/2, 10)*Math.random(), 70));
					this.smokeTimer=this.smoke;
				}
			}
		}
	}
	// Sparks, which gradually fade out
	class SparkEffect {
		constructor(loc, mag, ang, life, color='#ffffff') {
			this.life=this.maxLife=life;
			this.mag=this.maxMag=mag;
			this.ang=ang;
			this.location = loc.slice();
			this.color = color;
		} 
		render(ctx, cm) {
			let c = pt_sub(this.location, cm);
			ctx.strokeStyle = this.color + toHex(Math.round(255*this.life/this.maxLife));
			let p0 = pt_add(c, pt(this.mag/2, this.ang));
			let p1 = pt_add(c, pt(this.mag/2, normAng(this.ang+Math.PI)));
			ctx.beginPath();
			ctx.moveTo(...p0);
			ctx.lineTo(...p1);
			ctx.stroke();
		}
		update(objs) {
			this.mag = this.maxMag*(this.life/this.maxLife);
			this.location = pt_add(this.location, pt(this.mag, this.ang));
			if (--this.life < 0) {
				objs.fx.splice(objs.fx.indexOf(this),1);
			}
		}
	}
	// Ship
	class Ship extends Obj {
		constructor(sd, faction) {
			super();
			// The physical aspects of the ship
			this.shape = sd.shape;
			this.getRadius();
			this.color = sd.color;
			this.engines = sd.engines;
			// The weapons of the ship
			var t = this;
			// Defensive stats
			this.health = this.maxHealth = sd.maxHealth;
			this.regen = sd.regen;
			// Maneuverability stats
			this.acceleration = sd.acceleration;
			this.max_vel = sd.max_vel;
			this.turnRate = sd.turnRate;
			if (sd.strafe) {
				this.strafe = sd.strafe;
				this.strafeFuel = this.maxStrafeFuel = sd.strafeFuel;
				this.strafeCharge = this.strafeReload = sd.strafeReload;
				this.strafeEngines = sd.strafeEngines || [this.engines,this.engines];
			} else {
				this.strafe = 0;
			}
			this.deceleration_constant=.99;
			// 
			this.maxTilt = sd.maxTilt || Math.min(1, this.turnRate*20);
			//
			this.player = false;
			this.faction = faction;
			//
			this.angle = 0;
			this.location = [0,0];
			this.velocity = [0,0];
			// RKV variables
			this.rkv_time = this.rkv_max = 300;
			this.rkv_count = 0;
			this.rkv_angle = -1;
			// AI variables
			this.target = false;
			this.orbitDistance = this.radius+50+Math.random()*100;
			this.orbitDirection = Math.sign(Math.random()-.5);
			// For faction purposes, track the last enemy to damage us.
			this.lastHit = false;
			// Ships take some time to spawn in from other systems
			this.spawnTimer = 0;
		}

		createWreckEffect(objs) {
			if (Math.random() > .5 || isdef(this.ship)) {
				objs.fx.push(new FlashEffect(this.location, this.radius*5));
				// Split the wreck at all points
				let prev = this.shape[this.shape.length-1];
				for (let i=0; i<this.shape.length;i++) {
					let cur = this.shape[i];
					objs.fx.push(new WreckEffect([[prev[0],prev[1]],[cur[0],cur[1]]], this.location, this.angle, pt_add(pt(this.max_vel/3,Math.random()*2*Math.PI),this.velocity), this.tilt, this.color, Math.random()*200, this.maxTilt/40, true));
					prev=cur;
				}
			} else { // Intact wreck
				let w = new WreckEffect(this.shape.slice(), this.location, this.angle, this.velocity, this.tilt, this.color, Math.random()*200, this.maxTilt**1.5/40, Math.floor(Math.random()*15+5), true);
				w.tilt=this.tilt;
				objs.fx.push(w);
			}
			if (this.radius < 30) {
				objs.fx.push(new ExplosionEffect(this.location, [0,0], this.radius, this.radius/50, 100, this.altitude));
			} else {
				for (let i = 0; i < this.radius**.5/5; i++) {
					let loc = pt_add(pt_addAng(this.shape[Math.floor(Math.random()*this.shape.length)], this.angle), this.location);
					objs.fx.push(new ExplosionEffect(loc, [0,0], 10+Math.random()*10, (10+Math.random()*10)/50, 75+Math.random()*50, this.altitude));
				}
				//
				let screenShake = (this.radius * 20) / (get_mag(pt_sub(this.location, objs.player.location)) + 30);
				objs.screenShake = Math.max(screenShake, objs.screenShake);
			}
			objs.fx.push(new CircleEffect(this.location, [0,0], this.radius, this.radius/25, '#FFFFFF',80, this.altitude));
		}

		update(objs) {
			if (this.health < 0) {
				objs.ships.splice(objs.ships.indexOf(this), 1);
				// Add a wreck effect
				console.log('ship destroyed');
				this.createWreckEffect(objs);
				return;
			}
			this.health = Math.min(this.maxHealth, this.health + this.regen);
			if (this.strafeFuel!=this.maxStrafeFuel) {
				this.strafeCharge = Math.min(this.strafeCharge+1, this.strafeReload);
				if (this.strafeCharge==this.strafeReload) {
					this.strafeFuel=this.maxStrafeFuel;
					this.strafeCharge=0;
				}
			}
			this.runAI(objs);
			this.location = pt_add(this.location, this.velocity);
			// 
			this.jumpDelay = Math.max(0,this.jumpDelay-1);
		}

		render(context, c_loc, hsw, hsh) {
			if (get_mag(pt_sub(pt_add(c_loc, [hsw, hsh]), this.location)) - this.radius < (hsw+hsh)) {
				/*context.shadowColor = this.color;
				context.shadowBlur = 2;*/
				super.render(context, c_loc, hsw, hsh);
				//context.shadowBlur = 0;
				// Show health
				if (this.health < this.maxHealth) {
					let l = pt_sub(this.location, c_loc);
					context.strokeStyle = this.color + '22';
					context.beginPath();
					context.arc(l[0], l[1], this.radius+5, 0, 2*Math.PI);
					context.stroke();
					context.strokeStyle = this.color + '55';
					context.beginPath();
					context.arc(l[0], l[1], this.radius+5, Math.PI*(1-this.health/this.maxHealth)+Math.PI*3/2, Math.PI*(this.health/this.maxHealth)+Math.PI*5/2);
					context.stroke();
				}	
			}
		}

		respondToHit(proj) {
			if (this.player == false) {
				let s = proj.source;
				this.lastHit = s;
				if ((!this.target || this.target.health<=0) || (this.target!=s && get_mag(pt_sub(this.location, this.target.location)) > get_mag(pt_sub(this.location, s.location)))) {
					this.target = s;
				}
			}
		}

		decelerate() {
			return ang_turnTowards(this.angle, get_ang(pt_sub([0,0], this.velocity)), this.turnRate);
		}

		thrust(objs, direction=this.angle, power=this.acceleration, engines=this.engines) {
			this.applyForce(direction, power);
			let smokeAng = (direction+(.95+.1*Math.random())*Math.PI)%(2*Math.PI);
			if (true) {
				let adj = (this.tilt==0)?1:Math.cos(this.tilt);
				let altAdj = (this.tilt==0)?0:Math.sin(this.tilt);
				engines.forEach(e=>{
					let loc = e;
					loc = [loc[0],loc[1]*adj];
					// constructor(loc, velocity, radius, deltaRad, color,life,altitude=100)
					let rad = 4;
					let life = 30;
					let eLoc = pt_add(pt_addAng(loc,this.angle),this.location);
					objs.trails.push(new TrailEffect(eLoc, pt_add(this.velocity, pt(this.max_vel,smokeAng)), rad, -rad/life, this.color,life,100-e[1]*altAdj));
				});
			}
		}

		applyForce(direction, magnitude) {
			var v = this.velocity;
			var v_add = pt(magnitude, direction);
			v = pt_add(v, v_add);
			this.velocity = pt_mag(v, Math.min(get_mag(v), this.max_vel));
		}

		runAI(objs) {
			let AI_turn = false; // For the AI, if it reaches its desired angle, we act as if it's not turning.
			let turn = 0;
			let thrust = 0;
			let strafe = 0;
			let t = this;
			if (this.player == false) { // Enemy ship AI
				let temp = this.AIControl(objs);
				AI_turn=temp[0];
				turn = temp[1];
				thrust=temp[2];
				strafe=temp[3];
			} else {
				// Handle the player's controls.
				let temp = this.playerControl(objs);
				AI_turn=temp[0];
				turn = temp[1];
				thrust=temp[2];
				strafe=temp[3];
			}
			// Turning
			let goalTilt;
			if (AI_turn) {
				if (AI_turn) {
					this.angle=AI_turn[0];
				} else {
					this.angle = normAng(this.angle + turn*this.turnRate);
				}
				goalTilt=(AI_turn[1])?0:this.maxTilt*AI_turn[2];
			} else {
				goalTilt=((turn==0)?0:this.maxTilt*turn);
			}
			if (turn != 0) {
				this.angle = normAng(this.angle+turn*this.turnRate);
			}
			if (Math.sign(this.tilt)*-1==Math.sign(goalTilt) && Math.abs(this.tilt)>.1) {
				this.tilt = this.tilt + Math.sign(this.tilt)*-.04*this.maxTilt;
			} else {
				this.tilt = .96*this.tilt+.04*goalTilt;
			}
			// Thrust control
			// Strafing
			if (this.strafe && strafe && this.strafeFuel>=1) {
				//this.thrust(objs, normAng(this.angle+Math.PI/2*strafe), this.strafe);
				this.thrust(objs, normAng(this.angle+Math.PI/2*strafe), this.strafe, this.strafeEngines[(strafe==1)?1:0]);
				this.strafeFuel-=1;
				this.strafeCharge=0;
			} else if (thrust == 1) { // Forward thrust
				this.thrust(objs);
			} else if (get_mag(this.velocity) > this.max_vel/2) {
				// If we aren't actively accelerating, slow down. This helps simulate space combat without the velocity cap, since an accelerating object will catch a non-accelerating object.
				this.velocity = pt_mul(this.velocity, this.deceleration_constant);
			}
			
		}

		playerControl(objs) {
			let AI_turn=false;
			let thrust=0;
			let turn=0;
			let strafe=0;
			if ((keysDown.indexOf(DOWN_KEY) != -1 || keysDown.indexOf(S_KEY) != -1) && (get_mag(this.velocity)>this.acceleration)) {
				AI_turn = this.decelerate();
				thrust = AI_turn[1];
			} else {
				// Keyboard turning/strafing
				if (keysDown.indexOf(LEFT_KEY) != -1 || keysDown.indexOf(A_KEY) != -1) {
					//turn = -1;
					strafe=-1;
				} else if (keysDown.indexOf(RIGHT_KEY) != -1 || keysDown.indexOf(D_KEY) != -1) {
					//turn = 1;
					strafe=1;
				} 
				// Mouse turning
				AI_turn = ang_turnTowards(this.angle, get_ang(mousePos), this.turnRate);
				//
				if (keysDown.indexOf(UP_KEY) != -1 || keysDown.indexOf(W_KEY) != -1) {
					thrust = 1;
				}
			}
			// Adjust angle (the AI does this directly with ang_turnTowards)
			this.angle += turn * this.turnRate;
			if (this.angle < 0) {
				this.angle += 2*Math.PI;
			} else if (this.angle > 2*Math.PI) {
				this.angle -= 2*Math.PI;
			}
			if (strafe==0) { 
				this.strafeLockKey=0; 
			} else if (this.strafeLockKey!=0 && this.strafeLockKey==strafe) { 
				strafe = this.strafeLockRes;
			} else { 
				this.strafeLockKey=this.strafeLockRes=strafe;
				if (this.angle<Math.PI) { this.strafeLockRes*=-1; }
			}
			return [AI_turn, turn, thrust, strafe];
		}

		AIControl(objs) {
			let AI_turn=false;
			let thrust=0;
			let turn=0;
			let strafe=0;
			return [AI_turn, turn, thrust, strafe];
		}

		checkHit(proj) {
			if (proj.hitscan==true) {
				let poi = lineCircle(this.location, this.radius, proj.origin, proj.angle);
				if (poi) {
					return [this, poi];
				}
				return false;
			} else {
				if (get_mag(pt_sub(this.location,proj.location)) < this.radius) {
					return this;
				}
				return false;
			}
		}

	}
	// Light Ship
	class LightShip extends Ship{
		constructor(faction, range, desc, weaponDesc) {
			super(desc, faction);
			this.tempWS = new WeaponSlot({
				location: [15,0],
				angle: 0,
				arc: 0.1,
				secondary: false
			}, this);
			this.tempWS.installWeapon(weaponDesc);
			this.range = range;
			//
			if (this.faction == 1) {
				this.color = '#AAAADD';
			} else if (this.faction == 2) {
				this.color = '#AADDAA';
			}
			let c = this.color;
			let a = 30;
			c = "#"+toHex(fromHex(c.slice(1,3))+a)+toHex(fromHex(c.slice(3,5))+a)+toHex(fromHex(c.slice(5,7))+a);
			//
			this.color = c;
		}

		update(objs) {
			super.update(objs);
			this.tempWS.update();
		}

		playerControl(objs) { // Move the ship based on player input
			// Move
			return super.playerControl();
		}

		getTarget(objs) {
			let tgt = false;
			let dist = Infinity;
			objs.ships.forEach(s=>{
				if (s.faction != this.faction) {
					let tempDist = get_mag(pt_sub(s.location, this.location));
					if (tempDist < dist) {
						tgt = s;
						dist = tempDist;
					}
				}
			});
			return tgt;
		}

		AIControl(objs) {
			let AI_turn = false;
			let turn = 0;
			let thrust = 0;
			let strafe = 0;
			if (this.target && this.target.health <= 0) {
				this.target = false;
			} else if (this.target) {
				let tgt = this.target;
				let dist = get_mag(pt_sub(tgt.location, this.location));
				let diff = pt_sub(tgt.location, this.location);
				// Move
				AI_turn = ang_turnTowards(this.angle, get_ang(diff), this.turnRate);
				thrust =  dist>this.range/2 ? 1 : 0;;
				// Aim and shoot
				if (dist - this.radius - tgt.radius < this.range) {
					if (this.tempWS.canFire(objs)) {
						let sol = this.tempWS.getFiringSolution(tgt.velocity, tgt.location);
						if (angDist(get_ang(pt_sub(sol, this.location)), this.angle) < .5) {
							this.tempWS.fire(sol, objs, false);
						}
					}
				}
				// If inside target's gun range, try to strafe away from where it's aiming.
				if (dist <= tgt.range) {
					// Is target pointing at me?
					let rev_ang = get_ang(pt_mul(diff, -1));
					let aim_diff = angDist(tgt.angle, rev_ang);
					if (aim_diff < .6) {
						strafe = angDir(tgt.angle, rev_ang);
					}
				}
			} else {
				this.target = this.getTarget(objs);
				if (!this.target) {
					if (get_mag(this.velocity) > this.acceleration) {
						AI_turn = this.decelerate();
						if (AI_turn[1]){
							thrust = 1;
						}
					}
				}
			}
			return [AI_turn, turn, thrust, strafe];
		}

	}
	/*
		Fighter. Has a laser.
	*/
	/*

		Ship 1
		 - One built in weapon (fire() method)
		 - Custom AI

	*/
	const FighterRange = 500;
	const FighterDesc = {
		maxHealth: 20,
		regen: .1,
		max_vel: 9,
		acceleration: .20,
		turnRate: .037,
		maxTilt: 1.5,
		color: '#AAAAAA',
		shape: [[19.599999999999998,0],[-13.964999999999998,16.169999999999998],[-12.004999999999999,10.779999999999998],[-9.554999999999998,7.839999999999999],[-9.799999999999999,0],[-9.799999999999999,0],[-9.554999999999998,-7.839999999999999],[-12.004999999999999,-10.779999999999998],[-13.964999999999998,-16.169999999999998],[19.599999999999998,0],[19.599999999999998,0]],
		engines: [[-8.9,0]],
		strafeFuel: 20,
		strafeReload: 50,
		strafe: true
	}
	const FighterWpnDesc = {
		projectileCount: 1,
		accuracy: 0.1, // Max potential deviation from the firing angle
		rof: 3, // Frames between shots
		recoil: 0,
		// Ammunition and reloading
		clipSize: 30, // defaults to 1
		reloadRate: 30, // defaults to rof
		incReload: false, // defaults to false
		firingResets: true, // defaults to true
		chargeTime: 10,
		projectile: { // Unused traits are left undefined
			color: '#FFAAAA',
			damage: 2,
			damageVar: 1, // Max potential deviation from base damage
			range: FighterRange,
			speed: Infinity,
			rangeVar: 200,
			width: 3
		}
	}
	let fighterEscortRadius = 300;
	let fighterChaseRadius = 600;
	class Fighter extends LightShip{
		constructor(faction) {
			super(faction, FighterRange, FighterDesc, FighterWpnDesc);
			this.escort = false;
		}
		playerControl(objs) { // Move the ship based on player input
			// Aim and shoot
			if (leftMouseDown) {
				this.tempWS.fire(pt_add(mousePos, this.location), objs, restrictPlayerFire);
			}
			// Move
			return super.playerControl();
		}
		getTarget(objs) {
			let tgt = false;
			let dist = Infinity;
			let priority = 0;
			objs.ships.forEach(s=>{
				if (s.faction != this.faction) {
					let p = (s instanceof Bomber)?2:(s instanceof Fighter?1:0);
					if (p >= priority) {
						let tempDist = get_mag(pt_sub(s.location, this.location));
						if (tempDist < dist || (p > priority)) {
							tgt = s;
							dist = tempDist;
							priority = p;
						}
					}
				}
			});
			return tgt;
		}
		AIControl(objs) {
			let t = this;
			let res = super.AIControl(objs); // AI_turn, turn, thrust, strafe
			// Move away from friendlies
			objs.ships.forEach(s=>{
				if (s!=t && !s.ship && s.faction==t.faction) {
					let diff = pt_sub(t.location, s.location);
					if (get_mag(diff) < t.radius + s.radius) {
						res[0] = ang_turnTowards(t.angle, get_ang(diff), t.turnRate);
					}
				}
			});
			return res;
		}
	}
	/*
		Bomber. Has a mid-ranged missile.
	*/
	const BomberRange = 2000;
	const BomberDesc = {
		maxHealth: 30,
		regen: .1,
		max_vel: 6,
		acceleration: .15,
		turnRate: .050,
		maxTilt: .9,
		color: '#AAAAAA',
		shape: [[40,0],[12.5,36],[-0.5,36],[-6.5,20],[-3.5,7],[-5.5,4],[-6.5,1],[-6.5,-1],[-5.5,-4],[-3.5,-7],[-6.5,-20],[-0.5,-36],[12.5,-36],[40,0],[40,0]],
		engines: [[-8.9,0]],
		strafeFuel: 10,
		strafeReload: 100,
		strafe: true
	}
	const BomberWpnDesc = {
		projectileCount: 1,
		accuracy: 0.5, // Max potential deviation from the firing angle
		rof: 5, // Frames between shots
		recoil: 0,
		// Ammunition and reloading
		clipSize: 2, // defaults to 1
		reloadRate: 200, // defaults to rof
		incReload: false, // defaults to false
		firingResets: true, // defaults to true
		lockingAngle: .2,
		lockingTime: 10,
		projectile: { // Unused traits are left undefined
			color: '#FFAAAA',
			damage: 60,
			damageVar: 10, // Max potential deviation from base damage
			range: BomberRange,
			speed: 12,
			rangeVar: 0,
			width: 3,
			trackingRate: .015,
			AoE: 30
		}
	}
	class Bomber extends LightShip{
		constructor(faction) {
			super(faction, BomberRange, BomberDesc, BomberWpnDesc);
			this.wep = this.tempWS.weapon;
			this.range = this.range*.75;
		}
		render(context, c_loc, hsw, hsh) {
			super.render(context, c_loc, hsw, hsh);
			if (this.tempWS.weapon.target) {
				this.tempWS.weapon.renderLock(context, c_loc, hsw, hsh, this.tempWS.getTrueLocation());
			} 
			if (this.player && this.wep.clipAmmo < this.wep.clipSize) {
				let r = this.wep.reloadProg / this.wep.reloadRate;
				let l = pt_sub(this.location, c_loc);
				context.strokeStyle = '#FFAA3322';
				context.beginPath();
				context.arc(l[0], l[1], this.radius+15, 0, 2*Math.PI);
				context.stroke();
				context.strokeStyle = this.color + '#FFAA3355';
				context.beginPath();
				context.arc(l[0], l[1], this.radius+15, Math.PI*(1-r)+Math.PI*3/2, Math.PI*(r)+Math.PI*5/2);
				context.stroke();
			}
		}
		playerControl(objs) { // Move the ship based on player input
			// Aim and shoot
			let t = this.tempWS;
			let tloc = pt_add(mousePos, this.location);
			if (!this.tempWS.weapon.target) {
				this.tempWS.weapon.getLockTarget(objs, tloc, this.faction);
			}
			if (leftMouseDown) {
				t.fire(tloc, objs, false);
			}
			// Move
			return super.playerControl();
		}
		AIControl(objs) {
			this.tempWS.weapon.target = this.target;
			let ret = super.AIControl(objs);
			// Retreat from target if out of ammo.
			if (this.target && this.tempWS.weapon.clipAmmo == 0) {
				let AI_turn = ang_turnTowards(this.angle, get_ang(pt_sub(this.location, this.target.location)), this.turnRate);
				ret = [AI_turn, ret[1], true, 0*ret[2]]
			}
			return ret;
		}
		getTarget(objs) { // Don't target anything that isn't on a capital ship, unless you have no other options
			let tgt = false;
			let capShip = false;
			let dist = Infinity;
			objs.ships.forEach(s=>{
				if (s.faction != this.faction && (s.ship || !capShip)) {
					let tempDist = get_mag(pt_sub(s.location, this.location));
					if (tempDist < dist) {
						tgt = s;
						dist = tempDist;
					}
					if (s.ship && !capShip) {
						tgt = s;
						dist = tempDist;
						capShip = true;
					}
				}
			});
			return tgt;
		}
	}
	/*
		
		Medium ship
		 - 1 gun turret (start with a circle that doesn't have to rotate.
		 - Add checkHit method to ships. T1 does a simple hittest, T2 and T3 forward it to the turrets.

	*/
	const MedShipDesc = {
		maxHealth: Infinity,
		regen: 0,
		max_vel: 4,
		acceleration: .10,
		turnRate: .01,
		maxTilt: .5,
		color: '#AAAAAA',
		shape: [[140,0],[111.5,28],[23.5,42],[2.5,36],[-29.5,47],[-64.5,41],[-93.5,14],[-95.5,6],[-93.5,2],[-93.5,-2],[-95.5,-6],[-93.5,-14],[-64.5,-41],[-29.5,-47],[2.5,-36],[23.5,-42],[111.5,-28],[140,0],[140,0]],
		engines: [
			[-95,5],
			[-95,-5]
		]
	}
	const MedRange = 700;
	const MedTurretDesc = {
		shape: [[50,0],[39.5,24.5],[6.5,35.5],[-24.5,33.5],[-33.5,11.5],[-33.5,-11.5],[-24.5,-33.5],[6.5,-35.5],[39.5,-24.5],[50,0],[50,0]],
		maxHealth: 200,
		regen: .1,
		turnRate: .05,
		weapon: {
			projectileCount: 2,
			accuracy: 0.15, // Max potential deviation from the firing angle
			rof: 3, // Frames between shots
			recoil: 0,
			// Ammunition and reloading
			clipSize: 30, // defaults to 1
			reloadRate: 30, // defaults to rof
			incReload: false, // defaults to false
			firingResets: true, // defaults to true
			chargeTime: 10,
			projectile: { // Unused traits are left undefined
				color: '#FFCC99',
				damage: 6,
				damageVar: 1, // Max potential deviation from base damage
				range: MedRange,
				speed: 20,
				rangeVar: 200,
				width: 3
			}
		}
	}
	class MedShip extends Ship {
		constructor(objs, faction) {
			let range = 1000;
			super(MedShipDesc, faction);
			this.range = MedRange;
			//
			if (this.faction == 1) {
				this.color = '#AAAADD';
			} else if (this.faction == 2) {
				this.color = '#AADDAA';
			}
			// Build the turret
			this.turret = new Turret(this, MedTurretDesc, [0,0]);
			this.wep = this.turret.tempWS.weapon;
			objs.ships.push(this.turret);
		}
		update(objs) {
			super.update(objs);
			if (this.turret.health <= 0) {
				this.health = -1;
				return;
			}
			//this.turret.update(objs);
		}
		checkHit(proj) {
			/*if (proj.pierced.indexOf(this.turret) == -1) {
				this.respondToHit(proj);
				return this.turret.checkHit(proj);
			}*/
			return false;
		}
		render(context, c_loc, hsw, hsh) {
			super.render(context, c_loc, hsw, hsh);
			this.turret.render(context, c_loc, hsw, hsh);
			if (this.wep.target) {
				this.wep.renderLock(context, c_loc, hsw, hsh, this.turret.tempWS.getTrueLocation());
			}
		}
		// A and D to turn, W to thrust, S to reverse
		playerControl(objs) { // Move the ship based on player input
			let AI_turn = false;
			let turn = 0;
			let thrust = 0;
			let strafe = 0;
			// Move
			if ((keysDown.indexOf(DOWN_KEY) != -1 || keysDown.indexOf(S_KEY) != -1) && (get_mag(this.velocity)>this.acceleration)) {
				AI_turn = this.decelerate();
				thrust = AI_turn[1];
			} else if (keysDown.indexOf(LEFT_KEY) != -1 || keysDown.indexOf(A_KEY) != -1) {
				turn = -1;
			} else if (keysDown.indexOf(RIGHT_KEY) != -1 || keysDown.indexOf(D_KEY) != -1) {
				turn = 1;
			} 
			if (keysDown.indexOf(UP_KEY) != -1 || keysDown.indexOf(W_KEY) != -1) {
				thrust = 1;
			}
			// Aim and shoot
			let t = this.turret;
			let tloc = pt_add(mousePos, this.location);
			t.aim(tloc);
			if (leftMouseDown) {
				t.fire(tloc, objs, false);
			}
			return [AI_turn, turn, thrust, strafe];
		}

		AIControl(objs) {
			let AI_turn = false;
			let turn = 0;
			let thrust = 0;
			let strafe = 0;
			let t = this;
			if (this.target.health <= 0) {
				this.target = false;
				
			} else if (this.target) {
				let tgt = this.target;
				let dist = get_mag(pt_sub(tgt.location, this.location));
				// Move
				let t_ang = get_ang(pt_sub(tgt.location, this.location));
				if (dist < this.range*.95) t_ang += Math.PI/2*this.orbitDirection;
				AI_turn = ang_turnTowards(this.angle, normAng(t_ang), this.turnRate);
				thrust = 1;
				// Aim and shoot
				let t = this.turret;
				if (dist - t.radius - tgt.radius < this.range) {
					let sol = t.tempWS.getFiringSolution(tgt.velocity, tgt.location);
					if (sol) {
						t.aim(sol);
						t.fire(sol, objs, false);
					}
				} else if (t.target && t.target.health > 0 && get_mag(pt_sub(t.target.location, this.location)) <= this.range) {
					let sol = t.tempWS.getFiringSolution(t.target.velocity, t.target.location);
					if (sol) {
						t.aim(sol);
						t.fire(sol, objs, false);
					}
				} else {
					t.normAim();
				}
			} else {
				let tgt = false;
				let dist = Infinity;
				objs.ships.forEach(s=>{
					if (s.faction != this.faction) {
						let tempDist = get_mag(pt_sub(s.location, this.location));
						if (tempDist < dist) {
							tgt = s;
							dist = tempDist;
						}
					}
				});
				this.target = tgt;
				if (!this.target) {
					if (get_mag(this.velocity) > this.acceleration) {
						AI_turn = this.decelerate();
						if (AI_turn[1]){
							thrust = 1;
						}
						this.turret.normAim();
					}
				}
			}
			// Move away from friendlies
			objs.ships.forEach(s=>{
				if (s!=t && !s.ship && s.faction==t.faction) {
					let diff = pt_sub(t.location, s.location);
					if (get_mag(diff) < t.radius + s.radius) {
						AI_turn = ang_turnTowards(t.angle, get_ang(diff), t.turnRate);
					}
				}
			});
			return [AI_turn, turn, thrust, strafe];
		}
	}
	/*
		Turret
	*/
	class Turret extends Ship {
		constructor(ship, desc, offset) {
			super(desc, ship.faction);
			this.ship = ship;
			this.offset = offset;
			this.shape = desc.shape;
			this.color = ship.color;
			//
			let c = ship.color;
			let a = 30;
			c = "#"+toHex(fromHex(c.slice(1,3))+a)+toHex(fromHex(c.slice(3,5))+a)+toHex(fromHex(c.slice(5,7))+a);
			//
			this.color = c;
			this.angle=ship.angle;

			this.tempWS = new WeaponSlot({
				location: [desc.weaponDist||this.radius,0],
				angle: 0,
				arc: 0.01
			}, this);
			this.tempWS.installWeapon(new Weapon(desc.weapon, this));
			this.angle = 0;
			this.range = desc.weapon.projectile.range;
			// Generate a set of locations to emit smoke from if destroyed
			this.smokeEmitters = [];
			for (let i = 0; i < this.radius/10; i++) {
				this.smokeEmitters.push(pt(this.radius/2*Math.random(), Math.PI*2*Math.random()));
			}
			this.smokeTimer = this.smoke = 5;
			this.destroyed = false;
		}
		createWreckEffect(objs) {
			this.location = this.getLocation();
			this.velocity = this.ship.velocity;
			this.max_vel = this.ship.max_vel;
			this.tilt = this.ship.tilt;
			this.maxTilt = this.ship.maxTilt;
			super.createWreckEffect(objs);
		}
		getLocation() {
			if (this.ship.tilt==0 || this.offset[0] == 0) {
				return pt_add(this.ship.location, pt_addAng(this.offset, this.ship.angle));
			} else {
				return pt_add(this.ship.location, pt_addAng([this.offset[0],this.offset[1]*Math.cos(this.ship.tilt)], this.ship.angle));
			}
		}
		render(context, c_loc, hsw, hsh) {
			if (this.health>0) {
				super.render(context, c_loc, hsw, hsh);
			} else {
				if (this.canRender(c_loc, hsw, hsh)) {
					// Draw a circle of size radius/2
					let l = pt_sub(this.location, c_loc);
					context.strokeStyle = this.color + '88';
					context.beginPath();
					context.arc(l[0], l[1], this.radius/2, 0, 2*Math.PI);
					context.stroke();
				}
			}
		}
		update(objs) {
			let t = this;
			t.velocity = t.ship.velocity;
			t.location = t.getLocation();
			if (t.health > 0) {
				super.update(objs);
				t.tempWS.update();
			} else {
				if (this.destroyed == false) {
					this.destroyed = true;
					this.createWreckEffect(objs);
					objs.ships.splice(objs.ships.indexOf(this), 1);
				}
				// Emit smoke
				if (t.smokeTimer-- == 0) {
					t.smokeTimer = t.smoke;
					t.smokeEmitters.forEach(s=>{
						objs.fx.push(new SmokeEffect(pt_add(t.location, pt_addAng(s, t.ship.angle)), pt(.3,Math.random()*(Math.PI*2)), Math.min(t.radius/2, 10)*Math.random(), 70));
					});
				}
			}
		}
		
		aim(loc) {
			this.angle = ang_turnTowards(this.angle, get_ang(pt_sub(loc, this.location)), this.turnRate)[0];
		}
		normAim() {
			this.angle = ang_turnTowards(this.angle, this.ship.angle, this.turnRate)[0];
		}
		fire(loc) {
			this.tempWS.fire(loc, objs, false);
		}
	}
	/*
		
		WeaponSlot

	*/
	class WeaponSlot {
		constructor(wd, ship) {
			//
			this.shape = [
				[5,0],
				[-5,0]
			]
			// 
			this.ship = ship;
			//
			this.angle = wd.angle;
			this.arc = wd.arc;
			this.location = wd.location;
			this.secondary = wd.secondary;
			// 
			this.weapon = false;
		}

		installWeapon(weapon) {
			this.weapon = new Weapon(weapon, this.ship);
		}

		getTrueLocation() {
			if (this.ship.tilt==0) {
				return pt_add(this.ship.location, pt_addAng(this.location, this.ship.angle));
			} else {
				return pt_add(this.ship.location, pt_addAng([this.location[0],this.location[1]*Math.cos(this.ship.tilt)], this.ship.angle));
			}
		}

		getTrueAngle() {
			return (this.angle + this.ship.angle) % (2*Math.PI);
		}

		render(context, c_loc, hsw, hsh) {
			/*context.strokeStyle = (this.weapon==false)?'#FF000055':'#FF0000AA';
			// Get the initial location
			var p = pt_sub(this.getTrueLocation(), c_loc);
			var a = this.getTrueAngle();
			context.beginPath();
			context.arc(p[0], p[1], (this.secondary)?5:2, 0, 2*Math.PI);
			context.stroke();
			context.beginPath();
			context.arc(p[0], p[1], 10, a - this.arc, a + this.arc);
			context.stroke();*/
		}

		update() {
			if (this.weapon != false) {
				this.weapon.update();
			}
		}

		canFire(objs) {
			if (this.weapon == false) { return false; }
			if (!this.weapon.canFire(objs)) {return false; }
			if (this.weapon.lockingAngle && this.weapon.target) {
				let dist = get_mag(pt_sub(this.getTrueLocation(), this.weapon.target.location));
				if (dist > this.weapon.range*.75) { return false; }
			}
			return true;
		}

		getFiringSolution(targetVel, targetLoc) {
			if (this.weapon == false) { return false; }
			if (this.weapon.hitscan || (this.weapon.lockingAngle && !this.weapon.projectile.smartTracking)) { return targetLoc; } // No need to lead tracking weapons.
			var tv = pt_sub(targetVel,this.ship.velocity);
			var tp = pt_sub(targetLoc,this.getTrueLocation());
			var s = this.weapon.projectile.speed;
			//
			var a = (s**2-tv[0]**2-tv[1]**2);
			var b = -2*(tv[0]+tv[1]+tp[0]+tp[1]);
			var c = -(tp[0]**2+tp[1]**2);
			//
			var temp = (b**2-4*a*c);
			if (temp < 0) { return false; }
			temp = temp**.5;
			var impactTime_1 = (-b+temp)/(2*a);
			var impactTime_2 = (-b-temp)/(2*a);
			var it = Math.min(impactTime_1,impactTime_2);
			it = it>=0?it:Math.max(impactTime_1,impactTime_2);
			// 
			return pt_add(targetLoc, [tv[0]*it,tv[1]*it]);
		}

		fire(targetLoc, objs, onlyValid) {
			if (this.canFire(objs)) {
				let pd = pt_sub(targetLoc, this.getTrueLocation());
				let tt = ang_turnTowards(this.getTrueAngle(), get_ang(pd), this.arc);
				if (tt[1] || !onlyValid) {
					let loc = this.getTrueLocation();
					this.weapon.fire(objs, loc, tt);
					return true;
				}
			}
			return false;
		}
	}
	/*

		Weapon
	
	*/
	class Weapon {
		constructor(wd, ship) {
			//
			this.ship = ship;
			//
			this.rof = wd.rof;
			this.accuracy = wd.accuracy;
			this.projectile=wd.projectile;
			this.range = this.projectile.range;
			this.hitscan = (wd.projectile.speed == Infinity);
			//
			this.projectileCount = isdef(wd.projectileCount)?wd.projectileCount:1;
			//
			this.recoil=wd.recoil||0;
			//
			this.clipSize = isdef(wd.clipSize)?wd.clipSize:1;
			if (isdef(wd.reloadRate)) {
				this.reloadRate = wd.reloadRate
			} else {
				this.reloadRate = this.rof;
				this.rof = 0;
			}
			this.incReload = isdef(wd.incReload)?wd.incReload:false;
			this.firingResets = isdef(wd.firingResets)?wd.firingResets:true;
			this.clipAmmo = this.clipSize; // Initialize the ammount of ammo in the clip.
			this.reloadProg = 0;
			//
			this.lastFired = 0;
			this.lockingAngle = isdef(wd.lockingAngle)?wd.lockingAngle:false;
			this.target = false;
			if (this.lockingAngle) {
				this.lockTime = this.lockingTime = wd.lockingTime;
			}
			// 
			this.chargeTime = wd.chargeTime||0;
			this.chargeTimer = 0;
			this.charging = false;
		}

		update() {
			this.lastFired += 1;
			this.reloadProg = this.clipAmmo==this.clipSize?0:this.reloadProg+1;
			if (this.reloadProg >= this.reloadRate) {
				this.clipAmmo = this.incReload?Math.min(this.clipAmmo+1,this.clipSize):this.clipSize;
				this.reloadProg = 0;
			}
			if (this.lockingAngle) {
				this.updateLock();				
			}
			if (this.chargeTime) {
				if (this.charging && this.clipAmmo>0) {
					this.chargeTimer = Math.min(this.chargeTime, this.chargeTimer+1);
				} else {
					this.chargeTimer = 0;
				}
				this.charging = false;
			}
		}

		renderLock(ctx, c_loc, hsw, hsh, start) {
			let t = this.target;
			let c = false;
			if (t.canRender(c_loc, hsw, hsh)) {
				let col = (get_mag(pt_sub(start, t.location)) < this.range*.75) ? '#00FF00' : '#FF0000';
				start = pt_sub(start, c_loc);
				c = pt_sub(t.location, c_loc);
				ctx.strokeStyle = col+(this.lockTime%4==0?'FF':'00');
				ctx.beginPath();
				ctx.arc(c[0],c[1],t.radius+this.lockTime,0,2*Math.PI);
				ctx.stroke();
			}
			if (!c && !this.ship.canRender(c_loc, hsw, hsh)) return;
			if (!c) {
				ctx.strokeStyle = '#FF0000'+(this.lockTime%4==0?'FF':'00');
				c = pt_sub(t.location, c_loc);
				start = pt_sub(start, c_loc);
			}
			ctx.beginPath();
			ctx.moveTo(...start);
			ctx.lineTo(...c);
			ctx.stroke();
		}

		getLockTarget(objs, tloc, faction) {
			let t = this;
			let f = faction;
			let min_dist = Infinity;
			let target = false;
			objs.ships.forEach(s=>{
				if (f != s.faction) {
					let dist = get_mag(pt_sub(tloc,s.location));
					if (dist<=t.range && dist < min_dist) {
						min_dist = dist;
						target = s;
					}
				}
			});
			this.target = target;
		}

		renderCharge(ctx, c_loc, hsw, hsh, start) {
			let end = pt_add(start, pt(this.range, this.ship.angle));
			end = pt_sub(end, c_loc);
			start = pt_sub(start, c_loc);
			// For the time being, no need to check before rendering.
			let chg = this.chargeTimer/this.chargeTime;
			ctx.strokeStyle = this.projectile.color;//this.projectile.color+toHex(chg * 125);
			let temp = ctx.lineWidth;
			ctx.lineWidth = chg*this.projectile.width;
			ctx.beginPath();
			ctx.moveTo(...start);
			ctx.lineTo(...end);
			ctx.stroke();
			ctx.lineWidth = temp;
		}

		readyIn() {
			return (this.clipAmmo==0)?this.reloadRate-this.reloadProg:this.rof-this.lastFired;
		}

		updateLock() {
			if (this.locking && this.lockTime>0) {
				this.lockTime--;
			}
			if (!this.locking || !this.target || this.target.health<=0) { //|| get_mag(pt_sub(this.ship.location, this.target.location)) > this.range*1.1) {
				this.lockTime = this.lockingTime;
				this.target = false;
			}
			this.locking=false;
		}

		canFire(objs) {
			if (this.lockingAngle) {
				// Lock onto target if possible.
				if (this.target) {
					this.locking = true;
					if (this.lockTime > 0) {
						return false;
					}
				} else {
					this.locking = true;
					return false;
				}
			} else if (this.chargeTime) {
				this.charging = true;
				if (this.chargeTimer != this.chargeTime) {
					return false;
				}
			}
			return (this.lastFired>=this.rof)&&(this.clipAmmo>0);
		}

		fireHitscan(objs, loc, angle) {
			let f = this.ship.faction;
			let proj = {};
			proj.origin = loc;
			proj.angle = angle;
			proj.pierced = [];
			proj.source = this.ship;
			proj.hitscan = true;
			let closestHit = Infinity;
			let poi = false;
			let shipHit = false;
			objs.ships.forEach(s=>{
				// For now, one target per laser blast
				if (s.faction != f) {
					if (get_mag(pt_sub(s.location, loc)) <= this.projectile.range+s.radius) {
						let res = s.checkHit(proj);
						if (res) {
							let dist = get_mag(pt_sub(res[1], loc));
							if (dist<closestHit) {
								closestHit = dist;
								poi = res[1];
								shipHit = res[0];
							}
						}
					}
				}
			});
			let endPt;
			if (shipHit) {
				shipHit.respondToHit(proj);
				shipHit.health -= this.projectile.damage;
				endPt = poi;
			} else {
				endPt = pt_add(loc, pt(this.projectile.range, angle));
			}
			objs.fx.push(new LineEffect(loc, endPt, this.projectile.width, this.projectile.color));
		}

		fire(objs, loc, tt) {
			this.lastFired = 0;
			this.clipAmmo -= 1;
			if (this.firingResets==true) { this.reloadProg=0; }
			//
			let s = Math.min(this.projectile.speed, 20);
			for (let i=0; i<2; i++) {
				objs.fx.push(new SparkEffect(loc.slice(), get_mag(this.ship.velocity)+s*Math.random(), normAng(tt[0] + this.accuracy*5*(.5-Math.random())), 20+Math.random()*50, this.projectile.color)); 
			}
			let recoilList = [];
			for (var i = 0; i < this.projectileCount; i++) {
				let angle = tt[0];
				angle += this.accuracy * (.5-Math.random());
				if (!this.hitscan) {
					objs.projs.push(new Proj(objs, loc.slice(), angle, this.ship, this.projectile, this.target));
				} else {
					// Run a hitscan check over objs.ships.
					this.fireHitscan(objs, loc, angle);
				}
				if (this.recoil) {recoilList.push(normAng(angle+Math.PI));}
			}
			for (let i in recoilList) {
				let angle = recoilList[i];
				this.ship.applyForce(normAng(angle), this.recoil * 20 / this.ship.radius);
			}
		}
	}
	/*
		
		Projectile

	*/
	class Proj extends Obj {
		
		constructor(objs,location, angle, source, pd, target=false) {
			super();
			//
			this.shape = [
				[pd.speed,0],
				[-pd.speed,0]
			];
			this.getRadius();
			// 
			this.source = source;
			this.color = pd.color;
			//
			this.angle = angle;
			this.location = pt_add(location, pt(this.radius, this.angle));
			// 
			this.damage = pd.damage+pd.damageVar*(.5-Math.random());
			// Special
			// Pierce
			this.pierce = isdef(pd.pierce)?pd.pierce:false;
			this.pierced = [];
			// AoE
			this.AoE = isdef(pd.AoE)?pd.AoE:false;
			// Tracking
			this.target = false;
			if (isdef(pd.trackingRate)) {
				this.target = target;
				this.trackingRate = pd.trackingRate;
				this.smartTracking = pd.smartTracking;
			}
			// Fragmentation
			this.fragments = isdef(pd.fragments)?pd.fragments:false;
			// Detonation
			this.detonateOnTimeout = (pd.detonateOnTimeout==true);
			// Range
			let range = pd.range;
			let speed = pd.speed;
			if (isdef(pd.rangeVar)) { speed *= (range-pd.rangeVar*Math.random())/range; } // Vary speed, not range. Better visuals.
			if (this.detonateOnTimeout) {
				let sub = (this.AoE)?this.AoE:0;
				sub = (this.fragments)?this.fragments.projectile.range+sub:sub;
				this.life = (range-sub)/speed;
			} else {
				this.life = range/speed;
			}
			// Speed/velocity
			this.velocity = pt_add(this.source.velocity, pt(speed, angle));
			this.speed = speed;
		}

		applyAoE(objs, hit=false) { // Apply AOE, ignoring the original target.
			var t=this;
			objs.ships.forEach(s => {
				if ((s != hit) && (s.faction != t.source.faction) &&
					(get_mag(pt_sub(t.location, s.location)) < s.radius+t.AoE)) {
					s.health -= t.damage;
					s.respondToHit(t);
				}
			}); 
			// Add an explosion effect.
			objs.fx.push(new FlashEffect(this.location.slice(), this.AoE));//new CircleEffect(this.location.slice(), [0,0], this.AoE, this.AoE*.01, this.color,100));
		}

		fragment(objs, hit=false) {
			let f = this.fragments;
			for (let i=0;i<f.count;i++) {
				let ang = this.angle + (.5-1*Math.random())*f.spread;
				ang = (ang>=0)?(ang<2*Math.PI?ang:ang-2*Math.PI):ang+2*Math.PI;
				let proj = new Proj(objs, this.location, ang, this.source, f.projectile);
				proj.IFF = this.IFF; // IFF comes from the projectile, not the source ship.
				proj.color = this.color;
				if (hit) {proj.pierced.push(hit);} // Ignore the ship we've already hit.
				objs.projs.push(proj);
			}
		}

		getTrackingSolution(target) {
			if (!this.smartTracking) {return target.location;}
			var tv = target.velocity;
			var tp = pt_sub(target.location,this.location);
			var s = this.speed;
			//
			var a = (s**2-tv[0]**2-tv[1]**2);
			var b = -2*(tv[0]+tv[1]+tp[0]+tp[1]);
			var c = -(tp[0]**2+tp[1]**2);
			//
			var temp = (b**2-4*a*c);
			if (temp < 0) { return target.location; }
			temp = temp**.5;
			var impactTime_1 = (-b+temp)/(2*a);
			var impactTime_2 = (-b-temp)/(2*a);
			var it = Math.min(impactTime_1,impactTime_2);
			it = it>=0?it:Math.max(impactTime_1,impactTime_2);
			// 
			return pt_add(target.location, [tv[0]*it,tv[1]*it]);
		}

		render(context, cm, hsw, hsh) {
			super.render(context, cm, hsw, hsh);
			if (this.target) {
				context.strokeStyle='#FF0000';
				context.setLineDash([1,20]);
				context.beginPath();
				context.moveTo(...pt_sub(this.location, cm));
				context.lineTo(...pt_sub(this.target.location, cm));
				context.stroke();
				context.setLineDash([]);
			}
		}

		update(objs) {
			// Handle tracking
			if (this.target!=false) {
				// tracking rate
				if (objs.ships.indexOf(this.target)==-1) {
					this.target = false;
				} else {
					let tPos = this.getTrackingSolution(this.target);
					let newAng = ang_turnTowards(this.angle,get_ang(pt_sub(tPos,this.location)), this.trackingRate)[0];
					let vMag = this.speed;
					this.velocity = pt(vMag, newAng);
					this.angle = newAng;
				}
			}
			if (this.trackingRate) {
				// Generate exhaust
				let smokeAng = (this.angle+(.95+.1*Math.random())*Math.PI)%(2*Math.PI);
				if (Math.random() > .5) {
					objs.fx.push(new SmokeEffect(this.location, pt_add(pt_mul(this.velocity,-.1), pt(.3, 2*Math.PI*Math.random())), this.radius/15, 20));
					objs.trails.push(new TrailEffect(this.location, pt_mul(this.velocity,-.3), this.radius/5, -this.radius/5/17, '#FFFFFF', 15));
					//objs.trails.push(new TrailEffect(eLoc, pt_add(this.velocity, pt(this.max_vel,smokeAng)), rad, -rad/life, this.color,life,100-e[1]*altAdj));
				}
			}
			//
			this.location = pt_add(this.location, this.velocity);
			this.life -= 1;
			if (this.life <= 0) {
				objs.projs.splice(objs.projs.indexOf(this), 1);
				if (this.detonateOnTimeout) {
					// Apply AoE
					if (this.AoE!=false) {this.applyAoE(objs, s);}
					// Apply fragmentation
					if (this.fragments!=false) {this.fragment(objs,s);}
				}
			} else {
				let t = this;
				let dead = false;
				objs.ships.forEach(function(s){
					if (dead == false) {
						if ((!s.spawnTimer) && 
							(t.pierced.indexOf(s)==-1) && // Handle pierce
							(s.faction != t.source.faction) // IFF
							) {
							s = s.checkHit(t);
							if (s) {
								// The weapon's base damage
								s.health -= t.damage;
								s.respondToHit(t);
								// Impact FX
								for (let i=0; i<5; i++) {
									// (loc, mag, ang, life)
									objs.fx.push(new SparkEffect(t.location.slice(), get_mag(t.velocity)*(Math.random()), Math.random()*2*Math.PI, 20+Math.random()*50, t.color)); 
								}
								//
								if (t.pierce!=false && t.pierce>Math.random()) {
									t.pierced.push(s);
								} else {
									objs.projs.splice(objs.projs.indexOf(t), 1);
									dead=true;
									// Apply AoE
									if (t.AoE!=false) {t.applyAoE(objs, s);}
									// Apply fragmentation
									if (t.fragments!=false) {t.fragment(objs,s);}
								}
							}
						}
					}
				});
			}
		}

	}
</script>

<!-- Initialization -->
<script type="text/javascript">
	var canvas, screenWidth, screenHeight;
	var keysDown = [];
	var leftMouseDown = false;
	var rightMouseDown = false;
	var mousePos = [0,0]; // Adjusted mouse position; 0,0 is the center of the screen.
	const W_KEY = 87;
	const A_KEY = 65;
	const S_KEY = 83;
	const D_KEY = 68;
	const UP_KEY = 38;
	const LEFT_KEY = 37;
	const DOWN_KEY = 40;
	const RIGHT_KEY = 39;
	const E_KEY = 69;
	const SPACE_KEY = 32;
	const M_KEY = 77;

	// System variables
	var date = 0;
	var playerLanded = false;
	var msgBuf = [];
	var objs = {
		// Player
		player: null,
		// Local
		ships: [],
		projs: [],
		fleets: [],
		fx: [],
		trails: [],
		screenShake: 0 // screen shake intensity
	};
	var starfield;

	// Event variables
	var event;
	var eventVar=0;

	// Menu visual constants
	const menuBackgroundColor = '#00000088';
	const menuWidth = 800;
	const menuHeight = 500;
	const sidebarWidth = 250;
	const menuFontSize = 40; 
	const menuFont = menuFontSize + 'px consolas';

	// Gameplay constants
	const restrictPlayerFire = false;
	const switchDelay = 100;
	var switchTimer = 0;

	// Visual constants
	const jumpRadiusColor = '#FFFF00';
	const killRadiusColor = '#FF0000';
	const planetColor = '#AAAAAA';
	const msgFontSize = 10; 
	const msgFont = msgFontSize + 'px consolas';
	const msgBufSize = 10;
	const minimapOpacityPhysical = 85;
	const minimapOpacityVirtual = 37;
	const minimapScale = 40;
	const starmapScale = 2;
	const gridParallax = .5;
	const starParallax = .75;

	//
	const deathRadius = 3000;
	const deathTimerMax = 500;
	var deathTimer = 0;

	window.getAnimationFrame =
	window.requestAnimationFrame ||
	window.webkitRequestAnimationFrame ||
	window.mozRequestAnimationFrame ||
	window.oRequestAnimationFrame ||
	window.msRequestAnimationFrame ||
	function(callback)
	{
		window.setTimeout(callback, 16.6);
	};

	window.onload = function()
	{
		canvas = document.getElementById('canvas');
		context = canvas.getContext('2d', {alpha: false}); // There's no need for a transparent background.

		window.onresize();

		initControls();

		initGame();

		loop();
	};
</script>

<!--

	Gameplay

-->
<script type="text/javascript">
	function initGame() {
		// Cache some common explosions
		commonExplosions = [[20,100],[10,100],[20,120],[20,80],[20,130],[20,90],[20,110], [30,100]];
		commonExplosions.forEach(x=>cacheExplosion(x[0],x[1]));
		// Build the arena
		let arenaSize = 3000;
		let ship, ang;
		/*
		// Spawn in two groups of five ships
		for (let i = 0; i < 3; i++) {
			ship = new Fighter(0);
			ang = Math.PI * (i/6);
			ship.angle = ang+Math.PI;
			ship.location = pt(1000, ang);
			objs.ships.push(ship);
			ship = new Fighter(1);
			ang += Math.PI;
			ship.location = pt(1000, ang);
			ship.angle = ang-Math.PI;
			objs.ships.push(ship);
		}
		// Bombers
		for (let i = 0; i < 2; i++) {
			ship = new Bomber(0);
			ang = Math.PI * (i/4);
			ship.angle = ang+Math.PI;
			ship.location = pt(1500, ang);
			objs.ships.push(ship);
			ship = new Bomber(1);
			ang += Math.PI;
			ship.location = pt(1500, ang);
			ship.angle = ang-Math.PI;
			objs.ships.push(ship);
		}
		// Spawn in two pairs of light capital ships 
		factionCount = 2;
		mainAng = 0;
		for (let f = 0; f < factionCount; f++) {
			for (let i = 0; i < 1; i++) {
				ship = new MedShip(objs, f);
				ang = Math.PI*(1+i*2)/10 + mainAng;
				ship.angle = ang+Math.PI;
				ship.location = pt(arenaSize-600, ang);
				objs.ships.push(ship);
			}
			mainAng += Math.PI*2/factionCount;
		}*/
		spawn_ships(objs, deathRadius-1000);
		let friendlies = objs.ships.filter(s=>selectFilter(s, 0));
		objs.player = friendlies[friendlies.length-1]
		//addMsg('Simulation initialized.');
	}

	function addMsg(msg) {
		msgBuf.splice(0,0,msg);
		if (msgBuf.length == msgBufSize) {
			msgBuf.splice(msgBuf.length-1,1);
		}
	}

	function renderMessages(context) {
		var offset = 100; // Distance from the lower left corner
		var color = '#FFFFFF';
		context.font = msgFont;
		for (var i=0;i<msgBuf.length;i++) {
			context.fillStyle = color + Math.round(10+80*(msgBufSize-i)/msgBufSize);
			context.fillText(msgBuf[i], offset, screenHeight-offset-msgFontSize*i);
		}
	}

	function renderMinimap(objs, player, context) {
		let scale = 1/minimapScale;
		let offset = 100;
		let opacity = toHex(minimapOpacityPhysical);
		let opacity2 = toHex(minimapOpacityVirtual);
		// Display:
		let base = [offset, offset];
		let l = pt_sub([0,0],player.location);
		// Ships
		objs.ships.forEach(function(s) {
			context.strokeStyle = (s.faction==player.faction?s.color:'#FF0000')+opacity;
			context.beginPath();
			l2 = pt_sub(s.location,player.location);
			context.arc(base[0]+l2[0]*scale,base[1]+l2[1]*scale,s.radius*scale,0,2*Math.PI);
			context.stroke();
			if (s == player) {
				context.strokeStyle = '#FFFFFF'+opacity;
				context.beginPath();
				context.arc(base[0]+l2[0]*scale,base[1]+l2[1]*scale,(s.radius)*scale+2,0,2*Math.PI);
				context.stroke();
			}
		});
		// Radius
		context.strokeStyle = '#FFFFFF'+opacity2;
		context.beginPath();
		context.arc(base[0]+l[0]*scale,base[1]+l[1]*scale,deathRadius*scale,0,2*Math.PI);
		context.stroke();
	}

	function renderPlayerHUD(context, player) {
		// Circle around inactive player
		if (player.player == false && player.health >= 0) {
			context.strokeStyle = '#FFFFFF88';
			context.shadowBlur = 20;
			context.shadowColor = '#FFFFFF';
			context.beginPath();
			context.arc(screenWidth/2, screenHeight/2, Math.max(100, player.radius+20), 0, 2*Math.PI);
			context.stroke();
			context.shadowBlur = 0;
		}
		//
		let offsetX = 100;
		let offsetY = 50;
		let opacity = toHex(minimapOpacityVirtual);
		let wdw = 10; // Weapon display width
		let wdh = 50; // Weapon display height
		let wds = 5; // Weapon display spacing
		let hbh = 5;
		let sfw = 5;
		//
		let tracerMaxOpac = 70;
		let tracerMinOpac = 32;
		//
		let base = [screenWidth-offsetX, offsetY];
		let temp = 0;
		let pm = get_mag(player.location);
		//
		// Indicators
		let ix = screenWidth/2;
		let iy = screenHeight/2-200;
		context.font = menuFont;
		//
		if (pm>deathRadius && player.player) {
			let t = "RETURN TO COMBAT AREA " + (deathTimerMax-deathTimer);
			context.fillStyle = '#FF000077';
			context.fillText(t,ix-context.measureText(t).width/2,iy);
		}
		// 
		let sAdj = [screenWidth/2,screenHeight/2];
		var offset = pt_sub(sAdj, objs.player.location);
		// Render jump radius
		if (Math.abs(get_mag(objs.player.location) - deathRadius) < Math.max(sAdj[0], sAdj[1])) {
			context.strokeStyle = '#FF330077';
			context.beginPath();
			context.arc(offset[0], offset[1], deathRadius, 0, 2*Math.PI);
			context.stroke();
		}
	}

	function drawTriangle(c,s,x,y,w,h,p=-1) {
		c.strokeStyle=s;
		c.beginPath();
		if (p==-1) {
			c.moveTo(x,y+h);
			c.lineTo(x+w/2,y);
			c.lineTo(x+w,y+h);
			c.lineTo(x,y+h);
		} else {
			c.moveTo(x+(1-p)*w/2,y+(1-p)*h);
			c.lineTo(x,y+h);
			c.lineTo(x+w,y+h);
			c.lineTo(x+w-(1-p)*w/2,y+(1-p)*h);
		}
		c.stroke();
	}

	const sfSize=2000;
	function generateStarfield() {
		starfield = [];
		for (let i=0; i<200; i++) {
			starfield.push([Math.random()*sfSize, Math.random()*sfSize, Math.random(), Math.random()]);
		}
	}

	function drawStars(context, cm, par) {
		if (!starfield) {generateStarfield();}
		context.fillStyle = '#FFFFFF';
		// For now, a wrapping starfield with no depth.
		starfield.forEach(s=>{
			
			let x = (s[0]-(cm[0]*s[2])%sfSize)%sfSize;
			let y = (s[1]-(cm[1]*s[2])%sfSize)%sfSize;
			if (x<0) {x+=sfSize;}
			if (y<0) {y+=sfSize;}

			context.beginPath();
			context.arc(x,y,s[3],0,2*Math.PI);
			context.fill();
		});
	}

	function drawGrid(context, cm) {
		drawStars(context,cm);
		drawStars(context,cm);
	}

	function selectFilter(s, faction) {
		return ((s.faction==faction)&&(!s.ship)&&(get_mag(s.location)<deathRadius));
	}

	function keyPress(kc) {
		let player = objs.player;
		if (player.player==false && switchTimer <= 0) {
			if (kc == D_KEY || kc == RIGHT_KEY) {
				let s = objs.ships.filter(s=>selectFilter(s, player.faction));
				if (s.length>0) {
					let i = s.indexOf(player);
					objs.player = s[(i+1)%s.length];
				}
				objs.screenShake=0;
			} else if (kc == A_KEY || kc == LEFT_KEY) {
				let s = objs.ships.filter(s=>selectFilter(s, player.faction));
				if (s.length>0) {
					let i = s.indexOf(player);
					objs.player = (i>0)?s[i-1]:s[s.length-1];
				}
				objs.screenShake=0;
			} else if (kc == SPACE_KEY) {
				player.player = true;
			}
		}
	}

	function spawn_ships(objs, radius=false) {
		radius=radius||deathRadius+1000;
		team_sizes = [0,0];
		objs.ships.forEach(s=>{
			team_sizes[s.faction] += 1;
		});
		for (let i=0; i<2; i++) {
			while (team_sizes[i] < 6) {
				let ship;
				let r = Math.random();
				if (r < .5) {
					ship = new Fighter(i);
				} else if (r < .5+1/3) {
					ship = new Bomber(i);
				} else {
					ship = new MedShip(objs, i);
				}
				let ang = Math.PI * (Math.random() + i);
				ship.angle = ang+Math.PI;
				ship.location = pt(radius, ang);
				objs.ships.push(ship);
				team_sizes[i] += 1;
			}
		}
	}

	function loop_update() {
		objs.ships.forEach(function(o) {
			o.update(objs);
		});
		objs.projs.forEach(function(o) {
			o.update(objs);
		});
		objs.trails.forEach(function(o) {
			o.update(objs.trails);
		});
		objs.fx.forEach(function(o) {
			o.update(objs);
		});
		spawn_ships(objs);
		//
		if (objs.player.player && get_mag(objs.player.location) > deathRadius) {
			deathTimer += 1;
			if (deathTimer > deathTimerMax) {
				objs.player.health = -1;
			}
		} else {
			deathTimer = 0;
		}
	}

	var paused = false;
	function loop() {
		let player = objs.player;
		if (player.health<=0 && player.player == false && switchTimer-- <= 0) {
			// Get the list of friendly ships
			let s = objs.ships.filter(s=>selectFilter(s, player.faction));
			if (s.length>0) {
				player = objs.player = s[s.length-1];
			}
		}
		// Render the screen
		context.fillStyle = '#111111';
		context.fillRect(0,0,screenWidth,screenHeight);
		// Render and update
		camera = pt_add(player.location, [-screenWidth/2, -screenHeight/2]);
		if (objs.screenShake) {
			camera[0] += (Math.random()-.5) * objs.screenShake;
			camera[1] += (Math.random()-.5) * objs.screenShake;
			objs.screenShake = (objs.screenShake>1)?objs.screenShake*.99:0;
		}
		drawGrid(context, camera);
		//
		let hsw = screenWidth/2;
		let hsh = screenHeight/2;
		objs.ships.forEach(function(o) {
			o.render(context, camera, hsw, hsh);
		});
		objs.projs.forEach(function(o) {
			o.render(context, camera, hsw, hsh);
		});
		objs.trails.forEach(function(o) {
			o.render(context, camera, hsw, hsh);
		});
		objs.fx.forEach(function(o) {
			o.render(context, camera, hsw, hsh);
		});
		// Render the minimap
		renderMinimap(objs, objs.player, context);
		// Render the message console
		renderMessages(context);
		// Render the player's health and weapon status
		renderPlayerHUD(context, player);
		// Update the game state
		if (!paused) {
			if (keysDown.indexOf(80) != -1) {
				paused = true;
			} else {
				loop_update();
			}
		}
		// Update the game state
		getAnimationFrame(loop);
		// If the player has been killed, set the timer
		if (player.health <= 0 && player.player) {
			switchTimer = switchDelay;
			player.player = false; 
		}
	}

	window.onresize = function() {
		if(!canvas) return;

		screenWidth = canvas.clientWidth;
		screenHeight = canvas.clientHeight;

		canvas.width = screenWidth;
		canvas.height = screenHeight;
	};

	function initControls() {
		window.onkeydown = function(e) {
			if (keysDown.indexOf(e.keyCode) == -1) keysDown.push(e.keyCode);
	    	//e.preventDefault();
		};

		window.onkeyup = function(e) {
			var ix = keysDown.indexOf(e.keyCode);
			if ( ix != -1) {
				keysDown.splice(ix, 1);
				keyPress(e.keyCode);
			}
	    	//e.preventDefault();
		};

		window.onmousedown = function(e) {
			if (e.button == 0) {
				leftMouseDown = true;
			} else if (e.button == 2) {
				rightMouseDown = true;
			}
			//e.preventDefault();
		}
		window.onmouseup = function(e) {
			if (e.button == 0) {
				leftMouseDown = false;
			} else if (e.button == 2) {
				rightMouseDown = false;
			}
			//e.preventDefault();
		}
		window.oncontextmenu = function(e) {
			e.preventDefault();
		}

		window.onmousemove = function(e) {
			mousePos = [e.clientX - screenWidth/2, e.clientY - screenHeight/2];
			//e.preventDefault();
		}
	}
</script>